.footer {
  width: 100%;

  /* border: 2px solid red; */
  display: flex;

  background-color: rgb(35, 35, 35);
}

.one {
  width: 25%;
  /* border: 2px solid red; */
  margin: 15px;
}

.two {
  width: 25%;
  /* border: 2px solid red; */
  margin: 15px;
}

.three {
  width: 25%;
  /* border: 2px solid red; */
  margin: 15px;
}

.four {
  width: 25%;
  /* border: 2px solid red; */
  margin: 15px;
}

hr.red {
  /* border-top: 1px dashed red; */
  width: 50%;
}

h1 {
  font-size: 14px;
  color: white;
}

.number {
  width: 50%;
  color: white;
  margin: auto;
  text-align: center;
}

.top {
  text-align: center;
}
.text {
  color: rgb(170, 170, 170);
  text-align: center;
}
.logo {
  background-color: rgb(35, 35, 35);
  /* display:flex; */
}

img {
  background-color: rgb(35, 35, 35);

  width: 10%;
  margin: 2%;
}

.face {
  border-radius: 50%;
}

.insta {
  border-radius: 50%;
}
hr.white {
  border-top: 3px solid white;
  width: 90%;
}

.App {
  /* border:5px solid blue; */
  background-color: rgb(35, 35, 35);
}

.bottom {
  /* border:3px solid red; */
  display: flex;
  justify-content: space-between;
}

.left {
  width: 50%;
  /* border:3px solid white; */
  display: flex;
}
.left > div {
  width: 100%;
  /* border:2px solid red; */
}

.left > div > img {
  width: 287.5px;
  height: 33.21px;
}
h4 {
  color: white;
}

.right {
  width: 40%;
  /* border:3px solid white;  */
  display: flex;
  justify-content: space-evenly;
}

.action {
  background-color: rgb(221, 0, 133);
  color: white;
  width: 112.54px;
  height: 50px;
  margin-top: 5%;
}

.last {
  width: 100%;
  border: 2px solid black;
  background-color: rgb(12, 12, 12);
}

h3 {
  color: white;
  text-align: center;
  font-size: 14px;
}

.newsletter-footer {
  width: 360px;
  height: 50px;
  margin-top: 5%;
  padding: 0px 25px;
}

li:hover {
  color: rgb(221, 0, 133);
}
