.main-nav {
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  display: flex;
  justify-content: space-around;
  border: 1px solid pink;
}
.main-nav-profile {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  margin-top: 0.9rem;
}
.a {
  width: 40px;
  height: 50%;
  border: 1px solid grey;
}
.my {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.main-input {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  width: 603px;
  margin-top: 0.9rem;
}
.main-input > input {
  width: 70%;
  outline: none;
  border: none;
}
.main-input > select {
  width: 28%;
  padding: 0.2rem;
  border: none;
  outline: none;
}
.main-input > button {
  width: 9%;
  padding: 0.4rem;
  outline: none;
  border: none;
  background-color: rgb(221, 2, 133);
}
.main-nav-middle {
  align-items: center;
  /* border: 1px solid red; */
}
.user-icon {
  display: flex;
  gap: 0.4rem;
}
.user-icon > div:nth-child(2) {
  color: black;
}
.main-input > span {
  margin: 4px 20px 4px 20px;
  color: lightgray;
}
select > option {
  color: lightgray;
}
select {
  color: lightgray;
}
input {
  color: lightgray;
}
