.container{
    width: 45%;
    border: 1px solid rgb(208, 202, 202);
    padding: 40px;
    background-color: rgb(250,250,250);
    margin-top: 30px;
}

.GoogleButton{
    height: 20px;
}
.bg{
    background-color: rgb(68,68,68);
}
.bg:hover{
    background-color: rgb(221,2,133);
}

@media only screen and (min-width:0px) and (max-width:772px){
    .container{
        width: 92%;
    }
}